<footer>
  <nav>
    <div class="container">
      <div class="company-info">
        <div class="company-info-block">
          <h4><a href="">COMPANY</a></h4>
          <a href="">Our Stories</a>
          <a href="">Vision & Mission</a>
        </div>
        <div class="company-info-block">
          <h4><a href="">SERVICES</a></h4>
          <a href="">Polishing Services</a>
          <a href="">Maintainance</a>
        </div>
        <div class="company-info-block">
          <h4><a href="">PRODUCTS</a></h4>
          <a href="">Machineries</a>
          <a href="">Supplies</a>
        </div>
      </div>
      <div class="contact">
        <h4>CONTACT DETAILS</h4>
        <div class="contact-details">
          <div class="address">
            80/4 moo1, Nadee District,<br />Amphur Muang Samutsakorn,<br />Samutsakorn 74000<br />THAILAND
          </div>
          <div class="contact-info">
            Tel. (034) 46 6050-051<br>Fax. (034) 46 6052<br><br>Email. wsvibratory@yahoo.com
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="copyright">
    <div class="container">
      Copyright © 2017 WS Vibratory Machine Co., Ltd. All rights reserved.
    </div>
  </div>
</footer>

<script src="/app.js"></script>
