<header class="header">
	<div class="top-bar">
		<div class="container">
			<ul class="top-contact">
				<li class="contact-phone">(034) 466-050</li>
				<li class="contact-fax">(034) 466-052</li>
				<li class="contact-time">Mon - Sat: 8:00 - 17:00</li>
				<li class="contact-email">wsvibratory@yahoo.com</li>
			</ul>
			<a class="language-select" href="">English</a>
		</div>
	</div>
	<div class="container">
		<a href="/"><img class="logo" src="/img/logo.svg" alt="WS Vibratory Machine Logo"></a>
		{{ partial "nav" . }}
	</div>
</header>
