.badges {
  .container {
    display: flex;
		background: white;
  }

  .badge-block {
		padding: 60px 12px;
		flex: 1;
    text-align: center;

		img {
			border-radius: 50%;
			max-width: 260px;
			width: 100%;
			margin: 0 auto 30px;
		}

		h3 {
			font-size: var(--font-size-l);
			line-height: 1;
			color: var(--primary);
			text-transform: uppercase;

			&:after {
				content: '';
				display: block;
				width: 80px;
				height: 2px;
				background: var(--highlight);
				margin: 20px auto 0;
			}
		}
  }

	@media screen and (max-width: 767px) {
		.badge-block {
			padding: 48px 20px;

			h3 {
				font-size: 24px;
			}
		}
	}

	@media screen and (max-width: 680px) {
		.badge-block {
			padding: 48px 20px;

			img {
				margin-bottom: 20px;
			}

			h3 {
				font-size: 20px;

				&:after {
					width: 48px;
					margin: 12px auto 0;
				}
			}
		}
	}

	@media screen and (max-width: 600px) {
		.badge-block {
			padding: 40px 20px;

			img {
				margin-bottom: 20px;
			}

			h3 {
				font-size: 16px;

				&:after {
					width: 40px;
				}
			}
		}
	}

	@media screen and (max-width: 500px) {
		.container {
			padding: 0;
		}
		.badge-block {
			padding: 40px 12px;
			flex: 1;

			img {
				margin-bottom: 16px;
			}

			h3 {
				font-size: 16px;

				&:after {
					width: 40px;
				}
			}
		}
	}
}
