.banner {
	background: var(--primary);
	padding: 40px 20px;

	.container {
		display: flex;
		padding: 0;
	}

	&-block {
		color: white;
		flex: 1 0 auto;
		text-align: center;
		padding: 0 12px;

		h3 {
			line-height: 1.2;
			text-transform: uppercase;
		}

		strong {
			font-size: 80px;
			display: block;
			margin-bottom: 16px;
		}

		& + .banner-block {
			border-left: 2px solid rgba(255,255,255,0.3);
		}
	}

	@media screen and (max-width: 680px) {
		padding: 40px 0;

		&-block {
			h3 {
				font-size: 14px;

				strong {
					font-size: 50px;
					margin-bottom: 4px;
				}
			}
		}
	}

	@media screen and (max-width: 500px) {
		padding: 30px 0;

		&-block {
			flex: 1;

			h3 {
				font-size: 12px;

				strong {
					font-size: 36px;
				}
			}
		}
	}
}
