.header {
	position: relative;
	box-shadow: 0 2px 15px 0 rgb(0,0,0,0.4);
	background: #ffffff;

	.logo {
		margin: 24px 0 59px;
		max-width: 400px;
		width: 100%;
	}

	.container {
		position: relative;
	}

	.navbar {
		position: absolute;
		left: 20px;
		right: 20px;
		bottom: 0;
		transform: translate3d(0, 50%, 0);
	}

	@media screen and (max-width: 480px) {
		.logo {
			margin: 24px 0 40px;
		}
	}
}
