.info {
	.container {
		display: flex;
		background: var(--white);
	}

	.info-block {
		padding: 60px 18px 100px;
		text-align: center;

		h2 {
			font-size: var(--font-size-l);
			line-height: 1;
			color: var(--primary);
			text-transform: uppercase;

			&:after {
				content: '';
				display: block;
				width: 80px;
				height: 2px;
				background: var(--highlight);
				margin: 20px auto;
			}
		}

		p {
			text-align: left;
			color: var(--grey-3);
			font-size: var(--font-size);
		}
	}

	@media screen and (max-width: 767px) {
		.container {
			flex-direction: column;
			padding: 60px 20px;

			.info-block {
				text-align: left;
				padding: 0;

				h2:after {
					margin: 20px 0;
				}

				& + .info-block {
					margin-top: 60px;
				}
			}
		}
	}
}
