{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Params.heading "subtitle" .Params.subheading) }}

<section class="info">
  <div class="container">
    <div class="info-block">
      <h2>Who We Are</h2>
      <p>
        เราคือบริษัท WS ที่มีประสบการณ์และความชำนาญทางด้านเรื่องขัดมามากถึง50ปี
        เรารับจ้างขัดชิ้นงานที่พร้อมไปด้วยนวัตกรรมเครื่องขัดที่จะช่วยขัดผลิตภัณฑ์ต่างๆได้ปริมานมากพร้อมกับคุณภาพของงานที่ออกมาดีเสมอกันและเป็นที่พึงพอใจสำหรับลูกค้าทุกคน
      </p>
    </div>
    <div class="info-block">
      <h2>What We Do</h2>
      <p>
        เราเป็นที่ปรึกษาเรื่องการดูแลผิวชิ้นงานและมีบริการขัดด้วยเครื่องขัดเงาแบบสั่นสะเทือนซึ่งสามารถขัดผิวโลหะและอโลหะได้ทุกชนิด
        เรามีสินค้าพร้อมจำหน่ายเช่น หินขัดเงา
        น้ำยาและเครื่องขัดเงาแบบสั่นสะเทือนพร้อมสอนการใช้งานโดยวิศวกรและผู้เชี่ยวชาญจากประเทศไต้หวันที่พร้อมดูแลเครื่องจักร
        เพื่อคุณภาพชิ้นงานที่ดีของคุณ
      </p>
    </div>
    <div class="info-block">
      <h2>Why Us</h2>
      <p>
        เพราะพวกเรามีความเชี่ยวชานและประสบการที่จะแนะนำสิ่งที่ดีที่สุดสำหรับลูกค้า
        เรามีระบบที่พร้อมจะดูแลชิ้นงานและสามารถบริการลูกค้าได้ครบถ้วน
        ไม่ว่าจะด้วยผลิตภันหินขัดน้ำยาและบริการซ้อมแซมโดยผู้เชี่ยวชานจากไต้หวัน
      </p>
    </div>
  </div>
</section>
<section class="banner">
  <div class="container">
    <div class="banner-block">
      <h3><strong>29</strong>Years of Experience</h3>
    </div>
    <div class="banner-block">
      <h3><strong>1000+</strong>Projects Completed</h3>
    </div>
    <div class="banner-block">
      <h3><strong>1</strong>Year Warranty</h3>
    </div>
  </div>
</section>
<section class="badges">
  <div class="container">
    <div class="badge-block">
			<img src="./img/car-engine.jpg" alt="Polished Engine">
      <h3>High Quality</h3>
    </div>
    <div class="badge-block">
			<img src="./img/bolts.jpg" alt="Bolts">
      <h3>Mass Finishing</h3>
    </div>
    <div class="badge-block">
			<img src="./img/handshake.jpg" alt="Handshake">
      <h3>Reliable</h3>
    </div>
  </div>
</section>

{{ end }}
